_work/*

/.phpunit.cache
/node_modules
**/connnfi/**
/storage/*.key
/storage/debugbar/**
/public/*.sql
!/public/**
/public/build
/public/hot
/public/storage
**/orig/**
vendor/
.env
**/tmp/**
*.bat
!README.md
*.sh
*.yml
**/phpmyadmin/**
**/new_phpmyadmin/**
/public/_assets/**
/public/build/**
# Ausnahme: bestimmte Datei tracken
!vendor/laravel/jetstream/**
!vendor/laravel/framework/src/Illuminate/Http/**
!public/css/webfonts
.env.backup
.env.production
.phpunit.result.cache
!public/images/**/index.json
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
.vite/**
/node_modules/
ifo.php
handbook/
handbook_new/
storage/**
public/build
storage/logs
handbook_admin/.vitepress/dist
handbook_admin/.vitepress/cache
database/migrations/2025_06_28_000000_create_tenants_table.php_old
database/migrations/2025_06_15_132002_add_commentedit_to_users_rights_table.php_old


		
public/images/_ab/web/alogo_new schrott.png
